{%extends 'base.html'%}
<!-- html -->
{% block content %}

<div class="container mb-5">
  <header class="mt-5 text-center">
    <h2>Search Youtube</h2>
    <h4>Get the top nine results on Youtube for every query!</h4>

    <div class="form">
      <input type="text" />

      <div class="buttons mt-4 mb-5">
        <a href="#" class="btn btn-primary"> Youtube Search</a>
        <a href="#" class="btn btn-dark"> I'm feeling lucky</a>
      </div>
    </div>
  </header>

  <section class="mt-5">
    <div class="row">
      
      <div class="col-md-4">
        <div class="card" style="width: 20rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">title</h5>
            <div class="card-text">
              <a href="#" class="btn">Views</a>
              <h4>0 mins</h4>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </section>
</div>
{% endblock%}
