* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form input {
  width: 60%;
  height: 35px;
  padding: 10px;
}

.row {
  margin-top: 3rem;
}
